.h1{
    background-image: url(hero-img_copy.jpg) ;
    width: 20%;
    height: 90px;
    text-align: center;
    margin: auto;
    border-radius: 100%;
    border: 1px solid black;
    box-shadow: 6px 6px 4px rgb(150, 151, 151);
}
h1{
    color: aliceblue;
    font-size: 2.3em;
}

#container{
    display: flex;
    margin:2% 2%;
}
p{
    margin: 2px;
    padding: 5px;
    border-radius: 5%;
}
p:first-child{
    background-color: yellow;
    font-size: 1.2em;
}
p:nth-child(2){
    background-color: yellowgreen;
}
p:nth-child(3){
    background-color: lightgreen;
}
p:nth-child(4){
    background-color: lightseagreen;
}
p:nth-child(5){
    background-color: aqua;
}
p:nth-child(6){
    background-color: lightsalmon;
}
p:last-child{
    background-color: lightcoral;
}